services:
  app:
    build: .
    environment:
      - ORIGIN=https://suggesting-retrieved-serving-gentleman.trycloudflare.com
      - SESSION_TTL_SECONDS=120
      # optional / if you keep it:
      - CALLBACK_URL=https://YOURDOMAIN/api/callback
    expose:
      - "9000"

  nginx:
    image: nginx:1.25-alpine
    ports:
      - "8081:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
